<div class="fl-row border border-dark p-2">
    <div class="fl-column border border-dark">
        <div class="mb-2 height-100 p-3">
            <app-count-timer></app-count-timer>
        </div>
    </div>
    <div class="fl-column border border-dark">
        <div class="mb-2 height-100 p-3">
            <app-count-control></app-count-control>
        </div>
    </div>
    <div class="fl-column border border-dark">
        <div class="height-100 p-3">
            <app-count-logs></app-count-logs>
        </div>
    </div>
    <div class="fl-column border border-dark">
        <div class="height-100 p-3">
            <app-count-status></app-count-status>
        </div>
    </div> 
</div>